<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Bookstore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= params[:controller] == 'books' ? 'active' : '' %>">
        <%= link_to "Home", root_path, class:"nav-link" %>
      </li>
      <li class="nav-item <%= params[:controller] == 'about' ? 'active' : '' %>">
        <%= link_to "About", about_index_path, class:"nav-link" %>
      </li>
      <%if current_user.present?%>
      <li class="nav-item dropdown pull-right">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" >
          Add New
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <%= link_to "New Book", new_book_path, class:"dropdown-item" %>
          <%= link_to "New Publisher", new_publisher_path, class:"dropdown-item" %>
          <%= link_to "New Author", new_author_path, class:"dropdown-item" %>
          <%= link_to "New Category", new_category_path, class:"dropdown-item" %>
        </div>
      </li>

      <li class="nav-item dropdown pull-right">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" >
          Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Publishers", publishers_path, class:"dropdown-item" %>
          <%= link_to "Authors", authors_path, class:"dropdown-item" %>
          <%= link_to "Categories", categories_path, class:"dropdown-item" %>
        </div>
      </li>
      <%end%>
      <% unless current_user.present?%>
      <li class="nav-item active">
        <%= link_to "Sign In", new_user_session_path, class:"nav-link" %>
      </li>
      <% end %>
      <% if current_user.present? %>
      <li class="nav-item active">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete ,class:"nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>

<header>
<div id="header">
  <h1>The Bookstore <small><%= @page_title %></small></h1>
</div>
</header>