<%= form_with(model: book) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= current_user.inspect%>
<div class="form-group">
	<%= f.hidden_field :user_id, value: current_user.id %>
</div>
<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title, class:"form-control" %>
</div>
<div class="form-group">
	<%= f.label :isbn %>
	<%= f.text_field :isbn, class:"form-control" %>
</div>
<div class="form-group">
	<%= f.label :category %>
	<%= f.select :category_id, Category.all.collect {|c| [c.name, c.id]}, {:include_blank => "Select One"}, class:"form-control" %><br><br>
</div>
<div class="form-group">
	<%= f.label :author %>
	<%= f.select :author_id, Author.all.collect{ |a| [a.first_name+" "+a.last_name, a.id]}, {:include_blank => "Select One"}, class:"form-control" %>
</div>
<div class="form-group">
	<%= f.label :publisher %>
	<%= f.select :publisher_id, Publisher.all.collect{|pb| [pb.name, pb.id]}, {:include_blank => "Select One"}, class:"form-control" %>
</div>
<div class="form-group">
	<%= f.label :format %>
	<%= f.text_field :format, class:"form-control" %>
</div>
<div class="form-group">
	<%= f.label :description %>
	<%= f.text_area :description, class:"form-control" %>
</div>
<div class="form-group">
	<%= f.label :pages %>
	<%= f.number_field :pages, class:"form-control" %>
</div>
<div class="form-group">
	<%= f.label :price %>
	<%= f.text_field :price, class:"form-control" %>
</div>
<div class="form-group">
	<%= f.label :buy %>
	<%= f.text_field :buy, class:"form-control" %>
</div>
<div class="form-group">
	<%= f.label :year %>
	<%= f.text_field :year, class:"form-control" %>
</div>
<div class="form-group">
	<%= f.label :images %>
	<%= f.file_field :images, class:"form-control" %>
</div>
<%= f.submit class:"btn btn-primary" %>
<%= link_to "Cancel", books_path, class:"btn btn-secondary" %>


<% end %>