<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title? @page_title : "Welcome" %>| The Bookstore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <%= render "shared/nav-bar" %>
    <br>
  </header>
  <section>
      <div class="container">
        <div class="row">
          <div class="col md-8">
            <% if flash[:notice] %>
            <div class="alert alert-success"><%= flash[:notice] %></div>
            <% end %>
           <% if flash[:alert] %>
            <div class="alert alert-danger"><%= flash[:alert] %></div>
            <% end %>
              <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= yield %>
          </div>
        </div>
     </div>
 </section></body>
   <footer>
      <p>Copyright &copy; 2022, All Rights Reserved</p>
   </footer>
</html>
